.citylocation {
  grid-row: 1 / 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 2px 5px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

.location-icon {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.react-select-container {
  width: 70%;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #474e5786, 1px 1px 1px #12181d7e, 0px 0px 0px #121c24, 0px 0px 0px #000;
  font-size: 22px;
  border-color: transparent;
}

.react-select__value-container {
  display: flex;
  //justify-content: center;
}
.react-select__menu-list {
  background-color: white;
  text-shadow: none;
  font-size: 16px;
}

.react-select__menu-list {
  color: black;
}

@media all and (min-width: 768px) {
  .react-select-container {
    font-size: 26px;
  }
}

@media all and (min-width: 1200px) {
  .react-select-container {
    font-size: 28px;
  }
}
