.infoDaily-Detail {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  min-width: 300px;
  min-height: 60vh;

  padding: 20px 30px 30px;
}

.dailyDetail__table {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  color: white;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.title-detail{
// text-align: left;
 padding-bottom: 10px;
 font-size: 15px;
}

.sun-daily {
  background: linear-gradient(-75deg, #c9223e, #7f0033, #48052c);
  background-size: 800%;
  animation: gradred cubic-bezier(0.785, 0.135, 0.15, 0.86) 15s infinite;
}

.snow-daily {
  background: linear-gradient(-75deg, #005b6d, #005b6d, #3d3449);
  background-size: 800%;
  animation: gradred cubic-bezier(0.785, 0.135, 0.15, 0.86) 15s infinite;
}

.rain-daily {
  background: linear-gradient(-75deg, #100e19, #121c24, #0d0d0d);
  background-size: 800%;
  animation: gradred cubic-bezier(0.785, 0.135, 0.15, 0.86) 15s infinite;
}

.night-daily {
  background: linear-gradient(-75deg, #140055, #1b4090, #02013b);
  background-size: 800%;
  animation: gradred cubic-bezier(0.785, 0.135, 0.15, 0.86) 15s infinite;
}

@keyframes gradred {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}




@media all and (min-width: 1020px) {
  .infoDaily-Detail {
    width: 60vw;
    height: 70vh;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
