.dailyDetail__table {
    width: 100vw;
    height: 60vh;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 10px;
    border-collapse: collapse;
    background: linear-gradient(-75deg, #48052c, #c9223e, #7f0033);
    background-size: 800%;
    animation: gradred cubic-bezier(0.785, 0.135, 0.15, 0.86) 15s infinite;

}


@keyframes gradred {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
}
