.container__maxMinTemperature{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:25px;
    font-size: 22px;

    .unit{
        font-size:22px;
    }
}

.minTemperature{
    margin-right: 22px;
}

.maxTemperature{
    margin-left: 22px;
}

