.container__sentence {
  font-size: 26px;
  font-weight: bold;
  align-items: center;
  display: flex;
  height: 50px;
}

@media all and (min-width: 425px) and (max-width: 768px) {
  .container__sentence {
    margin-top: 150px;
  }
}
