.App {
text-align: center;
width: 100%;
}

.sun {
    background: linear-gradient(-75deg, #fed8c1, #fed8c1, #eb8249,#ef4335, #ff9d48);
    background-size: 800%;
    animation: gradred cubic-bezier(0.785, 0.135, 0.15, 0.86) 15s infinite;
}

.snow {
    background: linear-gradient(-75deg, #a5ebb5, #1b4090,  #009090,#005b6d, #5af7e2);
    background-size: 800%;
    animation: gradred cubic-bezier(0.785, 0.135, 0.15, 0.86) 15s infinite;
}

.night {
    background: linear-gradient(-75deg, #090923, #643d69, #02013b,#1b4090, #090923);
    background-size: 800%;
    animation: gradred cubic-bezier(0.785, 0.135, 0.15, 0.86) 15s infinite;
}

.rain {
    background: linear-gradient(-75deg, #6d868d,#b9c7d2, #474747);
    background-size: 800%;
    animation: gradred cubic-bezier(0.785, 0.135, 0.15, 0.86) 15s infinite;
}

@keyframes gradred {
            0% {
        background-position: 0% 50%;
            }
            50% {
            background-position: 100% 50%;
            }
            100% {
            background-position: 0% 50%;
            }
}


.bg-image {
    background-size: cover;
    background-size: 425px;
    width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

@media all and (min-width: 425px) and (max-width: 768px) {
    .bg-image {
        background-size: cover;
        width: 100%;
        background-position: 0 165px;
        background-repeat: no-repeat;
    }
}

@media all and (min-width: 768px) and (max-width: 1450px) {
    .prueba {
        padding-top: 30px;
    }
    .bg-image {
        background-size: cover;
        width: 100%;
        background-position: 0 100px;
        background-repeat: no-repeat;
    }
  }
