.location-finder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 15px 2px 5px;

}

.location-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.location-finder_input {
    grid-row: 1 / 2;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #CCC;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: withe;
    font-size: 18px;
    height: 50px;
    &:focus {
    outline: none;
    }
}

location-finder_input::-webkit-input-placeholder {
    color: #AAA;
}

location-finder_input:focus::-webkit-input-placeholder {
    color: dodgerblue;
}

.location-finder_input:focus+.underline {
    transform: scale(1);
}

.underline {
    background-color: dodgerblue;
    display: inline-block;
    height: 2px;
    left: 50px;
    margin-top: -4px;
    position: absolute;
    top: 185px;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 202px;
}

