.location-finder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 15px 2px 5px;
}

.location-finder_input {
    grid-row: 1 / 2;
    border: none;
    outline: none;
    border-bottom: solid 1px #4b012d49;
    background-color:transparent;
    color:white;
    font-size: 20px;

}

.location-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
