*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.icon-temp {
    width: 50px;
    height: 50px;
    background-size: cover;
    color: white;
}

.week-detail {
    width: 40px;
    height: 215px;
    background-color: cyan;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.base {
  width: 400px;
  height: 220px;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
}