*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.icon-temp {
    width: 45px;
    height: 45px;
    color: white;
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: center;
}

.week-detail {
    width: 52px;
    height: 150px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.base {
  display: flex;
  justify-content: space-around;
  //background-color:#4b012d;
 // background-color: #4b012d49;
  margin: 135px 10px 0;
 // border-radius: 20px;
 background: linear-gradient(-75deg, #48052c, #c9223e, #7f0033);
 background-size: 800%;
 animation: gradred cubic-bezier(0.785, 0.135, 0.15, 0.86) 15s infinite;

}


@keyframes gradred {
 0% {
 background-position: 0% 50%;
 }
 50% {
 background-position: 100% 50%;
 }
 100% {
 background-position: 0% 50%;
 }
}
