*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.icon-temp {
    width: 55px;
    height: 55px;
    background-size: cover;
}

.week-detail {
    width: 65px;
    height: 215px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}