.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: black;
}

.footer-logo-container {
  grid-column: 1/2;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.logo-chaman {
  width: 30px;
  height: 40px;
  margin-right: 12px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.logo-footer {
  width: 20px;
  height: 20px;
}

.copyright-footer {
  font-family: "Open Sans", sans-serif;
  color: white;
  grid-column: 2/3;
}

.copy-link {
  text-decoration: none;
  grid-column: 2/3;
  margin-top: 10px;
}

@media all and (min-width: 1020px) {
  .footer {
    display: none;
    height: 5vh;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
